.main-layout {
  display: flex;
}

.content {
  flex-grow: 1; /* Hace que el contenido principal ocupe el resto del espacio */
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

/* --- Media Query para Móviles --- */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .content {
    padding: 1rem;
  }
}